# Pengenalan Python

## Variabel

In [3]:
a = 10
x = 5
data = 10000

In [5]:
a

10

In [6]:
x

5

In [7]:
data

10000

In [9]:
print('Nilai a =',a)

Nilai a = 10

In [10]:
#Penamaan Variabel
data1 = a
nilai_x = 20

In [11]:
data1

10

In [12]:
nilai_x

20

In [13]:
#Pemanggilan
print('Nilai a =',a)

Nilai a = 10

In [14]:
a = 7

In [15]:
print('Nilai a =',a)

Nilai a = 7

In [16]:
#Assigment Indirect
b = x

In [17]:
b

5

## Tipe Data

In [18]:
#Integer
##Angka Satuan
##Bilangan Bulat

a = 10
type(a)

int

In [19]:
print('type data a adalah',type(a))

type data a adalah <class 'int'>

In [22]:
#Float
x = 13.7
print('type data x adalah', type(x))

type data x adalah <class 'float'>

In [26]:
#String
contoh = 'mas jawa'

In [24]:
print('type data contoh adalah',type(contoh))

type data contoh adalah <class 'str'>

In [27]:
contoh2 = '13.7'
print('type data contoh2 adalah',type(contoh2))

type data contoh2 adalah <class 'str'>

In [29]:
#Boolen
contoh3 = True
print('type data contoh3 adalah',type(contoh3))

type data contoh3 adalah <class 'bool'>

In [30]:
contoh4 = False
print('type data contoh4 adalah',type(contoh4))

type data contoh4 adalah <class 'bool'>

## Casting Tipe Data

In [31]:
#Integer
data_int = 9
print('data = ',data_int,',type =', type(data_int))

data =  9 ,type = <class 'int'>

In [43]:
data_int = 4

data_float = float(data_int)
data_str = str(data_int)
data_bool = bool(data_int)

In [41]:
print('data = ',data_float,',type =', type(data_float))
print('data = ',data_str,',type =', type(data_str))
print('data = ',data_bool,',type =', type(data_bool)) # 0 artinya False, >0> artinya True

data =  4.0 ,type = <class 'float'>
data =  4 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [47]:
data_float = 4.5

data_int = int(data_float)
data_str = str(data_float)
data_bool = bool(data_float)

print('data = ',data_int,',type =', type(data_int)) #pembulatan selalu ke bawah
print('data = ',data_str,',type =', type(data_str))
print('data = ',data_bool,',type =', type(data_bool))# 0 artinya False, >0 artinya True

data =  4 ,type = <class 'int'>
data =  4.5 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [54]:
data_str = '8'

data_int = int(data_str)
data_float = float(data_str)
data_bool = bool(data_str)

print('data = ',data_int,',type =', type(data_int))
print('data = ',data_float,',type =', type(data_float))
print('data = ',data_bool,',type =', type(data_bool))

data =  8 ,type = <class 'int'>
data =  8.0 ,type = <class 'float'>
data =  True ,type = <class 'bool'>

In [58]:
data_bool = True

data_int = int(data_bool)
data_float = float(data_bool)
data_str = str(data_bool)

print('data = ',data_int,',type =', type(data_int))
print('data = ',data_float,',type =', type(data_float))
print('data = ',data_str,',type =', type(data_str))

data =  1 ,type = <class 'int'>
data =  1.0 ,type = <class 'float'>
data =  True ,type = <class 'str'>

### Tugas

In [ ]:
Buat dari awal menggunakan variabel dan value sendiri
Bebas berkreasi dan rapi