In [1]:
import pandas as pd
import numpy as np

In [2]:
university_towns = pd.read_table('Data/university_towns.txt')

In [3]:
university_towns = []
with open ('Data/university_towns.txt') as file :
    for line in file :
        if '[edit]' in line:
            #Remember this 'state' untill the next is found
            state = line
        else:
            #Otherwise, we have a city; keep 'state' as last-seen
            university_towns.append((state, line))
university_towns[:5]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n')]

In [4]:
towns_df = pd.DataFrame(university_towns,
                       columns=['state','RegionName'])
towns_df.head()

             state                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [5]:
def get_citystate(item):
    if '(' in item:
        return item[:item.find('(')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item

In [14]:
towns_df = towns_df.applymap(get_citystate)
towns_df.head(10)

     state     RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo
5  Alabama          Troy
6  Alabama    Tuscaloosa
7  Alabama      Tuskegee
8   Alaska     Fairbanks
9  Arizona     Flagstaff

In [8]:
towns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       517 non-null    object
 1   RegionName  517 non-null    object
dtypes: object(2)
memory usage: 8.2+ KB

In [12]:
towns_df.isna().sum()

state         0
RegionName    0
dtype: int64

In [11]:
towns_df.describe()

               state RegionName
count            517        517
unique            50        489
top     Pennsylvania    Athens
freq              43          3