# Pengenalan Python

## Variabel

Variabel adalah sebuah karakteristik unit yang diamati dan bisa terdiri lebih dari satu kumpulan nilai yang bisa diberi ukuran numerik. Contoh variabel adalah pendapatan, usia, berat, dan lain-lain dalam sebuah penelitian.

In [37]:
#Contoh Penamaan Variabel
x = 20
y = 30
contoh = 50000000
umur = 17

In [2]:
x

20

In [3]:
y

30

In [4]:
contoh

50000000

In [38]:
umur

17

In [6]:
#Pemanggilan variabel
print('Nilai Variabel x adalah',x)

Nilai Variabel x adalah 20

In [7]:
print('Nilai Variabel x adalah',y)

Nilai Variabel x adalah 30

In [39]:
print('Nilai Variabel umur adalah',umur)

Nilai Variabel umur adalah 17

In [9]:
#Assigment Indirect
z = y
z

In [40]:
u = umur
print('u adalah nilai umur =',u)

u adalah nilai umur = 17

## Tipe Data

Setiap data pasti memiliki tipe, di dalam bahasa pemrograman python setiap data
dapat dilakukan check tipe data yang dimiliki dengan menggunakan perintah
type(data). Berikut berbagai macam tipe data yang tersedia dalam bahasa
pemrograman python

### Data String

String adalah data yang terdiri dari kumpulan karakter atau kata. Dalam python string harus diapit oleh tanda petik atas (tanda " " atau tanda ' ').

In [19]:
#String
S = 'Ini contoh data String'
S

'Ini contoh data String'

In [20]:
P = "ini contoh data String"
P

'ini contoh data String'

In [21]:
##Check tipe data
print('Ini adalah tipe data',type(S))

Ini adalah tipe data <class 'str'>

### Data Integer

Integer adalah data yang terdiri dari bilangan bulat.

In [22]:
I = 7
I

7

In [23]:
##Check tipe data
print('Ini adalah tipe data',type(I))

Ini adalah tipe data <class 'int'>

### Data Float

Float adalah data yang terdiri dari bilangan desimal.

In [25]:
D = 7.3458
D

7.3458

In [27]:
##Check tipe data
print('Ini adalah tipe data',type(D))

Ini adalah tipe data <class 'float'>

### Data Boolen

Boolen adalah data yang terdiri dari True dan False

In [28]:
Benar = True
Benar

True

In [29]:
##Check tipe data
print('Ini adalah tipe data',type(Benar))

Ini adalah tipe data <class 'bool'>

## Casting Tipe Data

In [33]:
#String
S = '3000'

integer = int(S)
floats = float(S)
boolen = bool(S)

print('ini = ',integer,',type =', type(integer))
print('ini = ',floats,',type =', type(floats))
print('ini = ',boolen,',type =', type(boolen))

ini =  3000 ,type = <class 'int'>
ini =  3000.0 ,type = <class 'float'>
ini =  True ,type = <class 'bool'>

In [34]:
#Integer
bulat = 1234567

floats = float(bulat)
string = str(bulat)
boolen = bool(bulat)

print('ini = ',floats,',type =', type(floats))
print('ini = ',string,',type =', type(string))
print('ini = ',boolen,',type =', type(boolen)) # 0 artinya False, >0> artinya True

ini =  1234567.0 ,type = <class 'float'>
ini =  1234567 ,type = <class 'str'>
ini =  True ,type = <class 'bool'>

In [35]:
#Float
koma = 99.0103284

integer = int(koma)
string = str(koma)
boolen = bool(koma)

print('data = ',integer,',type =', type(integer)) #pembulatan selalu ke bawah
print('data = ',string,',type =', type(string))
print('data = ',boolen,',type =', type(boolen))# 0 artinya False, >0 artinya True

data =  99 ,type = <class 'int'>
data =  99.0103284 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [36]:
#Boolen
benar = True

integer = int(benar)
floats = float(benar)
string = str(benar)

print('data = ',integer,',type =', type(integer))
print('data = ',floats,',type =', type(floats))
print('data = ',string,',type =', type(string))

data =  1 ,type = <class 'int'>
data =  1.0 ,type = <class 'float'>
data =  True ,type = <class 'str'>